*{
    margin: 0;
    padding: 0;
    font-family: 'poppions', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 350px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #FFED00;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #FFED00;
}

/* ---------About --------- */

#about{
    padding: 80px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:  35%;
}

.about-col-1 img{
    width: 100%;
    border-radius:15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFED00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span{
    color:#d9ff00;
    font-size: 10px;
}

.tab-contents{
    display: none;
    
}

.tab-contents.active-tab{
    display: block;
    font-size: large;
}


/* ------------------Services --------------- */

#servics{
    padding: 30 px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #FFED00;
    transform: translateY(-10px);
    
}

/* -------------------portfolio------------------- */

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #FFED00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.logo.arrow {
    margin-top: px;
    color: #FFED00;
    text-decoration: none;
    font-size: 40px;
    line-height: 60px;
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
}
